{% load static %}
{% block navbar %}
<nav class="navbar is-primary" id="topbar" style="margin-bottom: 2%">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text"  href="{% url 'index' %}" style="font-size: 50px; padding-top: 10px;color: #ff5257; font-weight: bold">
                <i class="fas fa-cube" style="font-size: 100px; margin-bottom: -25px;margin-right: 10px;"></i>Runner Game</a>

            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item"  href="{% url 'teacher' %}"style="color: #4a4a4a; font-size: 30px;">Teacher</a>
{#                    <a class="navbar-item"  href="{% url 'teacher' %}"style="color: #4a4a4a; font-size: 30px;">About</a>#}
                </div>
            </div>
        </div>
</nav>
{% endblock %}