{% load static %}
{% block navbar %}
<nav class="navbar is-primary" id="topbar" style="margin-bottom: 2%">
        <div class="container">
            <div class="navbar-brand"><a class="navbar-item brand-text"  href="{% url 'teacher' %}" style="font-size: 40px; color: #ff5257">
                <div id="hoopla">
                <i class="fas fa-cube" style="font-size: 100px; margin-bottom: -20px;margin-right: 10px;"></i>Play Runner Game</a></div>

                </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item"  href="{% url 'teacher' %}"style="color: #4a4a4a; font-size: 30px;">Teacher</a>
                    <a class="navbar-item"  href="{% url 'teacher' %}"style="color: #4a4a4a; font-size: 30px;">About</a>
                </div>
            </div>
        </div>
</nav>
{% endblock %}