{% extends "frontend/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="columns ">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label" href="{% url 'teacher' %}">Class</p>
                <ul class="menu-list">
                    <li><a class="is-active" href="{% url 'teacher' %}">First Grade</a></li>
                    <p class="menu-label">Problem Sets</p>
                    <li><a href="">Simple Addition 1</a></li>
                    <p class="menu-label">Other</p>
                    <li><a href=""> Documentation</a></li>
                    <li><a href="/api/"> REST API</a></li>
                </ul>
            </aside>
        </div>
        <nav class="column is-9">
            <section>
                <div class="tile is-ancestor">
                    <div class="tile is-6 is-vertical is-parent">
                        <div class="tile is-child box">
                            <p class="control">
                            <p class="title">Add Student</p>
                            <form action="{% url 'teacher' %}" method="post">
                                <label class="label">First name</label>
                                <input class="input" type="text" name="first_name"><br>
                                <label class="label">Last name</label>
                                <input class="input" type="text" name="last_name"><br>
                                <input type="hidden" name="do" value="add">
                                <div class="level-right">
                                    <button class="button is-success" id="student_button" type="submit" style="margin-top: 1em;padding-bottom: 0">Submit</button>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <img src="{% static 'frontend/asd.jpg' %}" alt="woop">
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">

                    {% for s in student %}
                        <div class="tile is-ancestor is-vertical" id="names">
                            <div class="tile is-parent box is-horizontal" id="blocks">

                                <div class="tile level-left">{{ s.first_name }} </div>
                                <div class="tile ">{{ s.last_name }} </div>
                                <div class="tile level-right">
                                    <a class="button is-link" style="margin-right: 0.5em"
                                       href="{% url 'teacher' %}{{ s.id }}">profile<i style="margin-left: 0.2em" class="fas  fa-portrait"></i></a>
                                    <form action="{% url 'teacher' %}" method="post"
                                          style="display: inline; margin: 0; padding: 0;">
                                        <input type="hidden" class="input" name="id" value={{ s.id }}><input
                                            type="hidden" name="do" value="drop">
                                        <button class="button is-danger"><i class="fas fa-times"> </i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </nav>
    </div>
{% endblock %}



